html,
body {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  justify-content: center;
  background-color: #F8DA3D;
}

/* Entire App */
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  flex: none;
  /* max-width: 70%; */
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

/* NAVBAR ---------------------------------------- */
.navbar-container {
  border: 2px solid black;
  margin-top: 0px;
  position: fixed;
  width: 100%;
  top: 0px;
  background-color: white;
  height: 60px;
}
/* TITLE ---------------------------------------- */
.title-bar-div {
  display: flex;
  flex-direction: column;
  padding: 50px;
  margin-top: 400px;
  top: 100px;
  max-width: 100%;
}

.title-bar-div h1 {
  font-size: 150px;
  line-height: 80%;
  letter-spacing: -6px;
}

.title-bar-div h2 {
  color: black;
  font-size: 60px;
  line-height: 80%;
  letter-spacing: -3px;
  margin-top: -60px;
  background-color: #B3A36E;
  -webkit-text-fill-color: white;
      /* Will override color (regardless of order) */
      /* -webkit-text-stroke: 1px black; */
  /* text-shadow: -1px 1px 0 #006B5E,
    1px 1px 0 #006B5E,
    1px -1px 0 #006B5E,
    -1px -1px 0 #006B5E; */
  width: 60%;
}
/* POSTS CONTAINER ---------------------------------------- */
.posts-container {
  overflow-y: scroll;
  height: auto;
}
/* POST ---------------------------------------- */
.post-div {
  display: flex;
  flex-direction: row;
  margin-top: -2px;
  max-height: 350px;
  width: 100%;
}

.post-date {
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* padding-left: 100px; */
  margin-right: -2px;
  padding-right: 20px;
  width: 70%;
  align-items: flex-end;
}

.post-body {
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
  padding-right: 100px;
  width: 100%;
}

.post-content {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  /* width: 100%; */
  max-height: 75%;
  margin-bottom: 20px;
}