html,
body {
  height: 100%;
  margin: 0;
  /* justify-content: center; */
  background-color: #F8DA3D;
}

/* Entire App */
.App {
  height: auto;
  flex: none;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

h1 {
  font-size: 100px;
  line-height: 80%;
  letter-spacing: -6px;
}

h2 {
  /* color: black; */
  font-size: 40px;
  /* line-height: 60%; */
  /* letter-spacing: -3px; */
  /* margin-top: -60px; */
  background-color: #B3A36E;
  -webkit-text-fill-color: white;
  width: 60%;
}

h3 {
  /* color: black; */
  font-size: 40px;
  /* line-height: 80%; */
  /* letter-spacing: -3px; */
  -webkit-text-fill-color: white;
  width: 60%;
}

p {
  font-size: 25px;
  font-family:  sans-serif, 'Anonymous Pro', monospace;
  letter-spacing: -1px;
  line-height: 100%;
}
/* NAVBAR ---------------------------------------- */
.navbar-container {
  border: 1px solid black;
  margin-top: 0px;
  position: fixed;
  width: 100%;
  top: 0px;
  background-color: #F8DA3D;
  height: 70px;
  display: flex;
  flex-direction: row;
}

.navbar-btn {
  color: black;
  font-size: 25px;
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid black;
  padding-left: 10px;
}

.navbar-btn:hover {
  cursor: pointer;
  background-color: #B3A36E;
  color: white;
  border: 1px solid black;
} 
/* TITLE ---------------------------------------- */
.title-bar-div {
  display: flex;
  flex-direction: column;
  padding: 50px;
  /* margin-top: 500px; */
  top: 100px;
  max-width: 100%;
  text-transform: uppercase;
  border-bottom: 2px solid black;
}

.title-bar-div-alt {
  display: flex;
  flex-direction: column;
  padding: 50px;
}

/* CONTAINER ---------------------------------------- */
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
/* POSTS CONTAINER ---------------------------------------- */
.posts-container {
  overflow-y: scroll;
  scrollbar-color: rebeccapurple #F8DA3D;
  height: auto;
}

/* ABOUT CONTAINER ---------------------------------------- */
.about-container {
  display: flex;
  flex-direction: column;
  padding-left: 20%;
  padding-right: 20%;
  background-color: rgb(229, 220, 201);
  border-radius: 20px;
  width: 500px;
  border: 1px solid black;
}

/* CONTACT CONTAINER ---------------------------------------- */
.contact-container {
  background-color: rgb(229, 220, 201);
  padding: 20px;
  border-radius: 20px;
  width: 500px;
  border: 1px solid black;
}

/* NEW POST FORM CONTAINER ---------------------------------------- */
.new-post-form-div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  border: 1px solid black;
  background-color: rgb(229, 220, 201);
  border-radius: 12px;
  padding: 25px;
  width: 600px;
  height: auto;
}

.new-post-form-div h1 {
  font-size: 60px;
  line-height: 60%;
  letter-spacing: -3px;
  /* background-color: #B3A36E; */
  -webkit-text-fill-color: black;
}

/* Inputs */
.post-title-input {
  letter-spacing: 2px;
  font-size: 40px;
  font-weight: 700;
  width: 100%;
  border: none;
  border-radius: 10px;
  padding-left: 10px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.post-subheading-input {
  font-size: 30px;
  font-weight: 700;
  width: 100%;
  border: none;
  border-radius: 10px;
  padding-left: 10px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.post-content-textarea {
  letter-spacing: 1px;
  width: 500px;
  height: 300px;
  font-size: 25px;
  border: none;
  border-radius: 10px;
  padding-left: 10px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.post-photo-input {
  letter-spacing: 1px;
  font-size: 25px;
  width: 100%;
  border: none;
  border-radius: 10px;
  padding-left: 10px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.post-form-input-divs {
  margin: 20px;
  /* background-color: #B3A36E; */
}

/* Submit button */
.form-submit-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  width: 50%;
  background-color: #F8DA3D;
  border-radius: 12px;
  border: 2px solid black;
}

.form-submit-btn:hover {
  cursor: pointer;
  background-color: #B3A36E;
  color: white;
}
/* POST ---------------------------------------- */
.post-div {
  display: flex;
  flex-direction: row;
  margin-top: -2px;
  width: 100%;
}

.post-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* Post title */
.post-header h2 {
  font-size: 40px;
  letter-spacing: -1px;
  line-height: 40px;
  background-color: white;
  -webkit-text-fill-color: #B3A36E;
}

/* Post subheading */
.subheading {
  letter-spacing: -1px;
  line-height: 20px;
  font-size: 30px;
  -webkit-text-fill-color: black;
  font-weight: 700;
}

.post-date {
  border-top: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: -2px;
  padding-right: 20px;
  width: 70%;
  align-items: flex-end;
  word-wrap:normal;
}

.post-date h3 {
  /* color: black; */
  font-size: 50px;
  line-height: 80%;
  letter-spacing: -3px;
  background-color: #B3A36E;
  -webkit-text-fill-color: white;
  width: 60%;
}

.post-body {
  border-top: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
  padding-right: 100px;
  width: 100%;
}

.post-content {
  display: flex;
  flex-direction: column;
  scrollbar-color: rebeccapurple #F8DA3D;
  margin-bottom: 20px;
  background-color: rgb(229, 220, 201);
  padding: 20px;
  border-radius: 20px;
  border: 1px solid black;
}

.img-p {
  display:flex;
  flex-direction: column;
  align-items: center;
}
.post-img {
  max-height: 500px;
}

.post-content .post-btns {  
  visibility: hidden;
}

.post-content:hover .post-btns {
  display: flex;
  flex-direction: row-reverse;
  visibility: visible;
}

.material-symbols-outlined {
  margin: 10px;
  font-size: 30px;
}